$title-slug: title !default;

// Variables
$h1: calc(2rem + 1vw);
$h2: calc(1.8rem + 0.8vw);
$h3: calc(1.6rem + 0.6vw);
$h4: calc(1.4rem + 0.5vw);
$h5: calc(1.2rem + 0.2vw);
$h6: calc(0.8rem + 0.1vw);
$h7: calc(1.1rem + 0.1vw);
// List of headings
$headings: (1: $h1, 2: $h2, 3: $h3, 4: $h4, 5: $h5, 6: $h6, 7: $h7);
// Loop over list of headings
// @each ( $heading : $size )
@each $heading, $size in $headings {
  .#{$title-slug}-#{$heading} {
    font-size: $size;
    font-weight: 600;
    color: $color-textH;
  }
}

//end title

//borders
$bdr-slug: radius !default;
$borders: (1:1px, 2:2px, 3:3px, 4:4px, 30:30px);
@each $heading, $size in $borders {
  .#{$bdr-slug}-#{$heading} {
    border-radius: $size;
  }
}



.breadcrumb.ewh_custom_breadcrumb{
  font-size: 13px;
  padding: 0px;
  margin-bottom: 0pc;
}
.breadcrumb.ewh_custom_breadcrumb, .breadcrumb.ewh_custom_breadcrumb li, .breadcrumb.ewh_custom_breadcrumb li a {
  color:#8e8e8e;
 background-color:transparent;
}

//check bullet
ul.c-list-style{
  list-style:none;
  padding-left: 0px;
  li{
    margin-bottom: 0.8rem;
    position: relative;
    padding-left: 25px;
    line-height: 22px;
    &:before {
      content: "";
      width: 25px;
      height: 25px;
      top: 3px;
      left: 0px;
      position: absolute;
      background-size: 20px;
      background-repeat: no-repeat;
    }
  }
  &.small{
    li{
      line-height: 15px;
      padding-left: 20px;
      &:before {
        background-size:15px;
      }
    }
  }
  &.animate-check{
    li:before {
      background-image: url("data:image/svg+xml,%3Csvg baseProfile='tiny' version='1.2' viewBox='0 0 30.7 29.3' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m11.3 20.5l15.8-19s0.3-0.4 0.7-0.6c0.8-0.5 2.4-0.7 2.1 1.3 0 0 0 0.5-1.5 2.6l-14.4 22.6s-2.2 3-5.1-0.3l-7.3-8.5s-1.8-2.4 0.4-4.3c0 0 2.2-1.8 4.4 0.6l4.9 5.6z' fill='%2300A344'/%3E%3C/svg%3E");
    }
  }
  &.animate-check-o{
    li:before {
      background-image: url("data:image/svg+xml,%3Csvg baseProfile='tiny' version='1.2' viewBox='0 0 36.7 35' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17.6 21.7l13.6-16.3s0.3-0.3 0.6-0.5c0.7-0.4 2.1-0.6 1.8 1.1 0 0 0 0.4-1.3 2.3l-12.3 19.3s-1.9 2.6-4.4-0.2l-6.2-7.3s-1.6-2.1 0.4-3.7c0 0 1.9-1.5 3.8 0.5l4 4.8z' fill='%2300A344'/%3E%3Ccircle cx='17.4' cy='17.5' r='14.4' fill='%2300A344'/%3E%3Cpath d='m18.5 20.6l9.2-11c0.5-0.6 0.9-1.2 1-1.2l0.6 0.8s0.8 1.2 0.8 1.3l0.4 0.7s-0.1 0.2-0.4 0.6l-10.1 15.8s-1.9 2.6-4.4-0.2l-6.2-7.3s-1.6-2.1 0.4-3.7c0 0 1.9-1.5 3.8 0.5l3.3 3.8c0.3 0.5 1.2 0.5 1.6-0.1z' fill='%23fff'/%3E%3C/svg%3E");
    }
  }
  &.animate-check-red{
    li:before {
      background-image: url("data:image/svg+xml,%3Csvg baseProfile='tiny' version='1.2' viewBox='0 0 36.7 35' xml:space='preserve' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m17.6 21.7l13.6-16.3s0.3-0.3 0.6-0.5c0.7-0.4 2.1-0.6 1.8 1.1 0 0 0 0.4-1.3 2.3l-12.3 19.3s-1.9 2.6-4.4-0.2l-6.2-7.3s-1.6-2.1 0.4-3.7c0 0 1.9-1.5 3.8 0.5l4 4.8z' fill='%23ff7105'/%3E%3Ccircle cx='17.4' cy='17.5' r='14.4' fill='%23ff7105'/%3E%3Cpath d='m18.5 20.6l9.2-11c0.5-0.6 0.9-1.2 1-1.2l0.6 0.8s0.8 1.2 0.8 1.3l0.4 0.7s-0.1 0.2-0.4 0.6l-10.1 15.8s-1.9 2.6-4.4-0.2l-6.2-7.3s-1.6-2.1 0.4-3.7c0 0 1.9-1.5 3.8 0.5l3.3 3.8c0.3 0.5 1.2 0.5 1.6-0.1z' fill='%23fff'/%3E%3C/svg%3E");
    }
  }
  &.animate-close{
    li:before {
      background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 469.785 469.785' style='enable-background:new 0 0 469.785 469.785;' xml:space='preserve'%3E%3Cg transform='matrix(1.25 0 0 -1.25 0 45)'%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%23DD2E44;' d='M228.294-151.753L367.489-12.558c11.116,11.105,11.116,29.116,0,40.22 c-11.105,11.116-29.104,11.116-40.22,0L188.073-111.533L48.866,27.663c-11.093,11.116-29.116,11.116-40.22,0 c-11.105-11.105-11.105-29.116,0-40.22l139.207-139.196L8.338-291.268c-11.116-11.116-11.116-29.116,0-40.22 c5.552-5.564,12.834-8.34,20.116-8.34c7.27,0,14.552,2.776,20.105,8.34l139.514,139.514l139.196-139.196 c5.564-5.552,12.834-8.34,20.116-8.34c7.27,0,14.552,2.788,20.105,8.34c11.116,11.105,11.116,29.104,0,40.22L228.294-151.753z'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

[class*='title-']{
  &.em{
      font-weight: 900;
      font-style: italic;
      letter-spacing: -2px;
      font-family: $latoFont;
      color: $color-textH;
  }
}

