label {
  margin-bottom: 0px;
}

.btn.rwd-font {
  font-size: calc(10px + 0.3vw);
}



//filter form
.filter-section .container {
  position: relative;
  top: 30px;
}

.filter-section+section {
  padding-top: 80px;
}

.stickyform-top {
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 99;
  left: 0px;
  top: 0px;
}

[data-form-type="filter-form"] {

  //form
  select {
    border: none;
    border-bottom: 3px solid $form-border;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23000000'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 12px;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;

    &:focus {
      outline: none;
    }
  }

  select,
  button {
    font-size: var(--form-text);
    padding: 8px 10px;
  }
}

//end form



//form-admin
select {
  -moz-appearance: none;
}

/*Form Application*/

.custom-form .form-control {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  font-weight: 500;
  padding: 3px;
  font-size: 13px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.custom-form .form-control:focus {
  background-color: #ffffff;
  border: 2px solid #007aff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.custom-form label {
  margin-bottom: 0px;
  font-size: 80%;
}

.custom-form label {
  margin-bottom: 0px;
  font-size: 80%;
}

.custom-form label.required {
  position: relative;
}

.custom-form label.required:after {
  position: absolute;
  content: "*";
  color: red;
  right: -10px;
  font-size: 1rem;
}

@media (min-width: $lg) {
  form.form-middel-5 {
    width: 90%;
    margin: auto;
  }
}

.progress-bar {
  background-color: $c-green;
}

.progress-bar>span {
  position: absolute;
  right: -2px;
  font-size: 0.7rem;
  top: 5px;
  width: 24px;
  height: 24px;
  background: $c-green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 10px #0000001c;
}

.sticky_form-top {
  position: sticky;
  width: 100%;
  top: 0px;
  z-index: 999;
  background-color: #fff;
  left: 0px;
}

.sticky_form-top .progress {
  height: 5px;
  width: 100%;
  overflow: visible
}

.sticky_form-top .progress .progress-bar {
  height: 5px
}


/*click to edit form class*/

.form-clicktoedit .cto-edit,
.form-clicktoedit input,
.form-clicktoedit select,
.form-clicktoedit textarea {
  display: none;
}


.form-clicktoedit input,
.form-clicktoedit select,
.form-clicktoedit textarea {
  border: 1px solid #ccc;
}

.form-clicktoedit.active .cto-edit,
.form-clicktoedit.active input,
.form-clicktoedit.active select,
.form-clicktoedit.active textarea {
  display: inline-block;
}

.form-clicktoedit.active .cto-none {
  display: none;
}


/*Animation Checkbox*/


.checkbox {
  display: inline-block;
  padding: 0px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.checkbox label {
  cursor: pointer;
  padding-left: 0;
  margin-bottom: 0rem;
}

.checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  pointer-events: none;
}

.checkbox .checkbox-material {
  vertical-align: middle;
  position: relative;
  top: 3px;
}

.checkbox .checkbox-material:before {
  position: absolute;
  left: 8px;
  top: 2px;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  height: 4px;
  width: 4px;
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
  margin: 0;
}

.checkbox .checkbox-material .check {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
}

.checkbox .checkbox-material .check:before {
  position: absolute;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  margin-top: -7px;
  margin-left: 4px;
  width: 0;
  height: 0;
  box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
  -webkit-animation: checkbox-off 0.3s forwards ease-out;
  animation: checkbox-off 0.3s forwards ease-out;
}

.checkbox input[type=checkbox]:focus+.checkbox-material .check:after {
  opacity: 0.2;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:before {
  box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  -webkit-animation: checkbox-on 0.3s forwards ease-out;
  animation: checkbox-on 0.3s forwards ease-out;
}

.checkbox input[type=checkbox]:not(:checked)+.checkbox-material:before {
  -webkit-animation: rippleOff 700ms forwards ease-out;
  animation: rippleOff 700ms forwards ease-out;
}

.checkbox input[type=checkbox]:checked+.checkbox-material:before {
  -webkit-animation: rippleOn 700ms forwards ease-out;
  animation: rippleOn 700ms forwards ease-out;
}

.checkbox input[type=checkbox]:not(:checked)+.checkbox-material .check:after {
  -webkit-animation: rippleOff 700ms forwards ease-out;
  animation: rippleOff 700ms forwards ease-out;
}

.checkbox input[type=checkbox]:checked+.checkbox-material .check:after {
  -webkit-animation: rippleOn 700ms forwards ease-out;
  animation: rippleOn 700ms forwards ease-out;
}

.checkbox input[type=checkbox][disabled]:not(:checked)~.checkbox-material .check:before,
.checkbox input[type=checkbox][disabled]+.circle {
  opacity: 0.5;
}

.checkbox input[type=checkbox][disabled]+.checkbox-material .check:after {
  background-color: rgba(0, 0, 0, 0.84);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.coloured .checkbox-material .check {
  color: #2FAEF8;
}

.coloured .checkbox-material:before {
  background-color: #2FAEF8;
}

.coloured input[type=checkbox]:checked+.checkbox-material .check {
  color: #2FAEF8;
}

@-webkit-keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }

  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }

  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}

@keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }

  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }

  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}

@-webkit-keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }

  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }

  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }

  51% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
  }
}

@keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }

  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }

  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }

  51% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 15px;
    height: 15px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
  }
}

@-webkit-keyframes rippleOn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(13, 13);
    transform: scale(13, 13);
  }
}

@keyframes rippleOn {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(13, 13);
    transform: scale(13, 13);
  }
}

@-webkit-keyframes rippleOff {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(13, 13);
    transform: scale(13, 13);
  }
}

@keyframes rippleOff {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(13, 13);
    transform: scale(13, 13);
  }
}



form.form-label-placeholder {

  ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
  }

  .form-group {
    position: relative;

    &.custom-bdr,
    & .custom-bdr {
      position: relative;
      border: 1px solid #fff;
      border-radius: 5px;
    }

    label {
      color: #889aa7;
      position: absolute;
      left: 10px;
      top: -10px;
      background: #082a43;
      padding: 0px 5px;
      transition: all 0.3s ease;
    }
  }

  input[type="text"],
  input[type="search"],
  input[type="date"],
  input[type="email"],
  input[type="number"],
  textarea {
    font-size: 12px;
    background-color: transparent;
    border-width: 0px;
    color: #fff;

    &:focus {
      background-color: transparent;
      border-color: #fff;
      border-width: 0px;
      color: #fff;
      box-shadow: none;

      &+label {
        color: #fff;
      }
    }
  }

  input[type="date"] {
    position: relative;
    overflow: hidden;

    &::-webkit-calendar-picker-indicator {
      bottom: 0;
      filter: invert(1);
      cursor: pointer;
      left: 0;
      position: absolute;
      right: 0;
      top: 5px;
      width: 100%;
      height: 50%;
      padding-left: 85%;
    }
  }
}

.error-input {
  &.custom-bdr,& .custom-bdr{
    border-color:#ff8f9a !important;
  }
  & label{
    color: #ff8f9a !important;
  }
  .error {
    color: #ff8f9a !important;
    font-size: 10px;
  }
}