.ewh_header {
  transition: all 0.5s ease;
  z-index: 999;
  width: 100%;
  position: fixed;

  

  .secondary-nav {
    background-color: $color-bg-black;
    color: $ewh-top-color;
  }
  .secondary-nav a {
    color: inherit;
    display: inline-block;
    width: 100%;
    font-weight: 500;
    line-height: 2rem;
    font-size: calc(0.6rem + 0.3vw);
  }

  .top_navbar .dropdown-menu {
    min-width: 10px;
    font-size: 12px;
    padding: unset;
    margin: unset;
    border: unset;
    border-radius: unset;
    line-height: 1rem;
    box-shadow: $nav-shadow;
  }
  .top_navbar .dropdown-menu a {
    line-height: 15px;
  }
  .social-media.smedia1 {
    border-left: 1px solid $color-bgLB;
  }
  .social-media.smedia1 a {
    padding: 0px;
  }
}

//nav brand
.nav-brand img {
  background-color: #fff;
  padding: 0px;
  width: 100px;
  position: absolute;
  top: -38px;
  left: -9px;
}

.log_size {
  width:60px;
}

.log_xs_size {
  display: block;
}

//primary menu
ul.primary-nav li {
  width: 100%;
  display: inline-block;
}

ul.primary-nav > li > a.nav-link {
  display: inline-block;
  width: 100%;
  color: $ewh-top-main-color;
  border-bottom: 3px solid transparent;
  font-weight: 600;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

ul.primary-nav > li:hover > a.nav-link {
  border-color: $ewh-color1;
  color: $ewh-color1;
}


a.nav-link{
  font-size:var(--link-text);
}


//Large Screen Css
@media(min-width: $lg) {
  .ewh_header {
    ul.primary-nav li {
      width: auto;
    }

    .primary-nav {
      position: static;

      li.dropdown {
        position: static;
        &:hover .dropdown-menu {
          display: block;
        }
      }
      .secondary-nav a {
        padding-left: 5px;
        padding-right: 5px;
        line-height: 1.5rem;
        font-size: calc(10px + 0.2vw);
      }

    }
    .submenu{
      min-width:200px;
      border-top:2px solid  $c-orange !important;

      .menu-heading{
        padding:5px 10px; 
        font-size: 1.2rem;
        font-weight: bold;
      }
      li{
        display: block;
        a{
          padding:5px 10px; 
          display: block;
          color: $c-links ; 
          
          &:hover{
            color: $c-orange !important;
          }
        }
      }
    }
    .submenu .nav-pills > a.nav-link.active {
      box-shadow: 0 0rem 30px rgba(0, 0, 0, 0.09) !important;
    }
    .submenu .tab-content {
      min-height: 450px;
    }

    .submenu-child {
      a {
        line-height: 25px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .secondary-nav a {
      padding-left: 5px;
      padding-right: 5px;
      line-height: 1.5rem; 
    }

    ul.primary-nav > li > a.nav-link {
      line-height: 4rem;
    }
    .log_size {
      width:120px;
    }
    .log_xs_size {
      display: none;
    }
    .ewh_header_navbar .navbar-nav .nav-link {
      padding: 10px 15px;
    }
  }
}

@media(min-width: $xxl) {
  .ewh_header_navbar .navbar-nav .nav-link {
    padding: 10px 15px;
  }
}

//Mobile Signup menu
@media(max-width: $lg) {
  .mobile-signup-nav {
    flex-direction: row;
  }
  .mobile-signup-nav a.nav-link {
    color: $color-textP;
    padding: 5px 10px;
    font-size: 12px;
  }
  .mobile-signup-nav li:last-child a.nav-link {
    color: $ewh-color-white;
  }
  .mobile-signup-nav a.nav-link span {
    font-size: 10px;
  }
}

//trigger button
.ewh_nav_trigger:focus {
  border: 0px;
  outline: none;
}

.ewh_nav_trigger {
  top: -4px;
  border: 0px;
  cursor: pointer;
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.ewh_nav_trigger .trigger_btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: $color-textH;
  border-radius: 0px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.ewh_nav_trigger .trigger_btn span:nth-child(1) {
  top: 0px;
}

.ewh_nav_trigger .trigger_btn span:nth-child(2) {
  top: 10px;
}

.ewh_nav_trigger .trigger_btn span:nth-child(3) {
  top: 20px;
}

.ewh_nav_trigger .trigger_btn.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.ewh_nav_trigger .trigger_btn.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.ewh_nav_trigger .trigger_btn.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.ewh_header.fixedheader{
  transition: all 0.2s ease;
  top: 0px;
  position: sticky;
}

.ewh_header.default-header{
  position: fixed;
  transition: all 0.2s ease;
  top: -150px;
}


//dropdown

@import "navbar-custom";

.navbar-nav .nav-link {
  padding-right:1rem;
  padding-left:1rem;
}