//Main Color
$ewh-color1:#e40a1f;
$ewh-color1hover:#ca071a;
$ewh-color2:#138418;

//Bg Color
$color-bgLB:#eef2fa;
$color-bgFooter1:#eef2fa;
$color-bgFooter2:#e1e5ee;

$color-bg-blue:#1f99bf;
$color-bg-black:#000;

//heading & Text color
$color-textH:#232323;
$color-textP:#454545;
$color-textMute:#787878;
$ewh-color-white:#ffffff;

//navbar
$ewh-top-color:#fff;
$ewh-top-main-color:#3c3c3c;

$themeFont: "soleil",sans-serif;
$hdingFont: "usual",sans-serif;
$latoFont: 'Rubik', sans-serif;