@import url('https://fonts.googleapis.com/css?family=Lato:900,900i&display=swap');
@import "root";
@import "var"; 
@import "mixins";
@import "layout-style";
@import "grid";
@import "layout";
@import "sm";  
@import "header-responsive";
//@import "header";
@import "banner";
@import "animation";  
@import "display-text";
@import "widgets";
@import "card";
@import "footer";
@import "login";
@import "form";
@import "icon-svg";
@import "map-box";
@import "accordion";
@import "otherpage";
@import "reviews";
@import "gallery";
@import "multi-steps";
//@import "blog";  